*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
   background-color: white  ;  
   

}
header{
    display: flex;
    background-color: rgba(255, 255, 255, 0.374);
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 15vh;
    padding: 20px;
     border-bottom:  solid white 0.5px;
     position: sticky;
     top: 0;
}
.header-p{
    display: flex;
    color: white;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    gap: 6px;
}
.header-h1{
 color: black;
 font-family: Arial, Helvetica, sans-serif;
font-weight: 600;
cursor: pointer;
}

.btn{
    background-color: rgba(11, 11, 11, 0.913);
     border: 2px solid rgba(255, 255, 255, 0.801);
    padding: 15px 35px;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    margin-left: 20px;

}

.main-div{
    /* padding: 40px; */
    min-height: 750px;
    box-shadow:  solid black 1px 2px 1px 9px;
    min-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 40px 30px 30px 30px;
    background-color: rgba(255, 255, 255, 0.283);
    border-radius: 25px;
}
.Overview{
    color:  black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin-top: 50px;
}

.card-div{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-radius: 20px;
}
.first-card{
    background-color: white;
    width: 350px;
    height: 180px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
     border: 1px solid rgba(24, 21, 21, 0.655);
}
.first-card img{
    width: 100px;
}
.first-card p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    gap: 10px;
    font-size: 22px;

}
/* .p{
    color: rgb(41, 21, 21);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 50px;
} */
 .card-text .no{
    font-size: 45px;
    margin-bottom: 20px;
 }
.second-card{
    border: 1px solid rgba(10, 9, 9, 0.655);
    background-color: white;
    width: 350px;
    height: 180px;
    border-radius: 20px;
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
     border: 1px solid rgba(13, 12, 12, 0.655);
}
.second-card p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    gap: 10px;
    font-size: 22px;

}
.third-card{
    background-color: white;
    width: 350px;
    height: 180px;
    border-radius: 20px;
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
     border: 1px solid rgba(33, 30, 30, 0.655);
}
.third-card p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    gap: 10px;
    font-size: 22px;

}

.under-card{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.under-p{
    color: black;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.btn-2{
    background-color: black;
    padding: 15px 40px;

    border-radius: 15px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.next-cards{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    cursor: pointer;
    margin-left: 30px;
}
.first-next{
    width: 200px;
        color: black;
    height: 150px;
display: flex;
}
.second-next{
    color: black;
    padding: 10px;
    width: 350px;
    height: 200px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.623);
    flex-direction: column;
    justify-content: center;
    font-size: 17px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.053);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.text-text{
    margin-bottom: 10px;
}
.card-text-2{
    display: flex;
    gap: 30px;
}
.card-text-2 img{
    width: 20px;
    margin-right: 3px;
    margin-left: 10px;
}
.bb{
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: 600;
}
.tt{
    padding-bottom: 10px;
}
.first-next{
    color: black;
    padding: 10px;
    width: 350px;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.667);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 17px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.409);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.text-text{
    margin-bottom: 10px;
}
.card-text-2{
    display: flex;
}
.card-text-2 img{
    width: 20px;
    margin-right: 3px;
    margin-left: 10px;
}